<!-- index.njk -->
{% extends "layout.njk" %}


{% block content %}
  {% include "_partials/navigation.njk" %}
  {% include "_partials/html5-tags.njk" %}
  {% include "_partials/footer.njk" %}
{% endblock %}