caption {
  padding-top: $table-cell-padding;
  padding-bottom: $table-cell-padding;
}
table {
    border-spacing: 0;
    td,th {
      border-collapse: collapse;
    }
    thead {
      th {
        // padding:1.387em;

        // &:first-child { }
        // &:last-child { }
      }
    }
    tr {
      th:last-child, td:last-child {
        border-right:0;
      }
    }
    tbody {
      th {

      }
      td {
        border-bottom: 1px solid $table-border-color;
      }

      tr:last-child {
        td:first-child {

        }
        td:last-child {

        }
        td {
          border-bottom: 0;
        }
        th {
        	border-bottom:0;
        }
      }
    }
}
