.site-nav {
	@include container;


	&__list{
		@include container;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		list-style: none;
	}
	&__item {
		@include span(1 of 5);

		@include susy-breakpoint( max-width 960px ){
			@include span(5 of 5);
		}
	}
	/**
	 * [$site_nav_items description]
	 * @type {SASS MAP}
	 * @key child_number
	 * @value opacity
	 */
	$site_nav_items: (
		1: 1,
		2: 0.9,
		3: 0.8,
		4: 0.7,
		5: 0.6,
		6: 0.5,

	);
	/**
	 * Output decreasing opacity for each child element
	 */
	@each $child, $opacity in $site_nav_items {
	  &__item:nth-child(#{$child}) {
	     background: rgba( 0, 0, 0, $opacity );
	  }
	}
}