// -------------------
// FONTS
// ___________________

$flex-slider-font-path: 'includes/fonts';
$sans_serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$helvetica: $sans-serif;
$serif: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
$base_font_size: 16px;
$rem_base: $base_font_size;

$page_max_width: 1366px;
$page_content_max_width: 1000px;
$post_the_content_max_width: 770px;



// Responsive
$tablet:			768px;
$desktop:           980px;
/* END CANVAS VARIABLES */


$flex-slider-font-path: 'includes/fonts';
$sans_serif: "museo-sans","Helvetica", Arial, sans-serif;
$helvetica: $sans-serif;
$serif: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
$base_font_size: 16px;
$rem_base: $base_font_size;

$page_max_width: 1366px;
$page_content_max_width: 1000px;
$post_the_content_max_width: 770px;
$sidebar_max_width: 250px;

// PSD FILE WIDTH
// usedas as context for calculating top/bottom margin percentages
$psd_file_width: 1400px;
$psd: $psd_file_width;


// Responsive
$tablet:			768px;
$desktop:           980px;




/**
 * Define width for browsers w/out media query support
 * @link http://jakearchibald.github.com/sass-ie/
 * @type boolean
 */

$fix-mqs                      : false !default;

/**
 * Turn on/off IE specific styles
 * @link http://jakearchibald.github.com/sass-ie/
 * @type boolean
 */

$old-ie                       : false !default;

// Color Scheme
// examples based on the official Sass styleguide
// =============

// Selections
$color-selection              : #b3d4fc;

// Messages
$color-message                : #f4ecbb;
$color-success                : #2cde2c;
$color-warning                : #cf8600;
$color-important              : #d00;
$color-notice                 : #66b;




// Breakpoints
// There are no common breakpoints; examples based on the official Sass styleguide
// You'll need to define your own breakpoints to suit your design
// ============

$mobile-small                 : 240;
$mobile-large                 : 320;
$tablet-small                 : 480;
$tablet-large                 : 768;
$screen-small                 : 1024;
$screen-large                 : 1280;

/**
 * Define z-indexes for various elements
 * @link http://www.sitepoint.com/using-sass-maps/
 * @type number
 */

// z-index reference
$zindex: (
  modal                       : 9000,
  overlay                     : 8000,
  dropdown                    : 7000,
  header                      : 6000,
  footer                      : 5000
);