$home_main_content_max: em( 515px );

.home-content-wrap {
	max-width: $home_main_content_max;
	margin: 8% auto 0 auto;
	text-align: center;
	font-family: $serif;


	.sign-up {
		margin: 20% auto 0 auto;
	}
}

.home-branding {
	width: 50%;
	max-width: 220px;
	margin: 0 auto em(47px) auto;

	&__logo-wrap {
		max-width: 220px;
	}

	&__logo-img {
		max-width: 100%;
	}

	&__content {
		text-align: center;
		@include font-size( 16px );
		font-family: $serif;
	}
}


.home-messaging {

	.enter-link {
		display: inline-block;
		margin-top: em(20px);
		padding: em(10px) em(20px);
	}
}