html, body {
	-webkit-overflow-scrolling: touch;
}

html {
	height: 100%;
	box-sizing: border-box;
	min-height: 100%;
	font-size: 100%;
}

body  {
	height: 100%;
	font-family: $font_body;
	color: #000;
	font-size: $font_size_base;
	line-height: $line_height_base;
	word-wrap: break-word;
	/* typekit rendering fixes for osx */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; /* Firefox 25+ */


}

*,
*:before,
*:after {
	box-sizing: inherit;
}


p {
	font-family: $font_body;
	margin-top: 0;
	margin-bottom: 1em;
}

strong {

}

a {
	color: #000;
	&:hover {
	}
}


img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
	vertical-align: bottom;
}

/* Bicubic resizing for non-native sized IMG: code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 {
	img {
		-ms-interpolation-mode: bicubic;
	}
}

hr {
	width:100%;
	height: 0;
	display: block;
	border: 0;
	border-top: 1px solid $color_border;
	border-top: 1px solid rgba(212, 212, 210, 1.0);
}

blockquote, q, i , em {
	font-style: italic;
}

sup {
	top:0;
}

embed,
iframe,
video {
	max-width: 100%;
}

video {
	height: auto;
}