input[type=submit] {

}

input[type=submit]:hover {

}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	@include font-size($base_font_size);
	font-family: inherit;
	color: inherit;
	border: 1px solid $color_border;

	&:focus {
		color: inherit;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	border-radius: 0;
	box-shadow: none;
}